# Core dependencies
Django==5.1.7
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
django-filter==25.1
dj-database-url==2.3.0
psycopg2-binary==2.9.10
python-dotenv==1.2.1
whitenoise==6.11.0

# Celery
celery==5.5.3
billiard==4.2.3
amqp==5.3.1
kombu==5.5.4
vine==5.1.0

# Numpy & ML / CV stack
numpy>=2.2,<2.3
scipy==1.16.2
scikit-learn==1.7.2
scikit-image==0.25.2
opencv-python-headless==4.11.0.86
insightface==0.7.3
ml_dtypes==0.5.3
contourpy==1.3.3
matplotlib==3.10.7
imageio==2.37.0
tifffile==2025.10.16
pillow==12.0.0

# Data handling
pandas==2.1.1
flatbuffers==25.9.23
onvif_zeep==0.2.12
zeep==4.3.2
protobuf==6.33.0
onnx==1.19.1
onnxruntime==1.23.2

# Utilities
attrs==25.4.0
typing_extensions==4.15.0
typing-inspection==0.4.2
annotated-types==0.7.0
easydict==1.13
humanfriendly==10.0
lazy_loader==0.4
platformdirs==4.5.0
coloredlogs==15.0.1
prettytable==3.16.0
prompt_toolkit==3.0.52
click==8.3.1
click-plugins==1.1.1.2
click-didyoumean==0.3.1
click-repl==0.3.0
packaging==25.0
pyparsing==3.2.5
cycler==0.12.1
kiwisolver==1.4.9
Cython==3.1.6

# Math / symbolic
sympy==1.14.0
mpmath==1.3.0
networkx==3.5
joblib==1.5.2
threadpoolctl==3.6.0
tqdm==4.67.1

# Web / HTTP
requests==2.32.5
requests-toolbelt==1.0.0
requests-file==3.0.1
charset-normalizer==3.4.4
idna==3.11
urllib3==2.5.0
certifi==2025.10.5

# Redis
redis==7.1.0

# Timezones & date
python-dateutil==2.9.0.post0
isodate==0.7.2
tzdata==2025.2
pytz==2025.2
