# Core Django & API
Django==5.1.7
djangorestframework
djangorestframework_simplejwt

# Celery & dependencies
celery==5.5.3
billiard
amqp
kombu
vine
psycopg2-binary
# ML / CV / Data
numpy
opencv-python-headless
insightface
ml_dtypes
albumentations
albucore
scikit-learn
scikit-image
scipy
matplotlib
imageio
tifffile
pillow
contourpy

# Data handling / serialization
protobuf
onnx
onnxruntime
flatbuffers
zeep
onvif_zeep

# Utilities / helpers
python-dotenv
whitenoise
dj-database-url
django-cors-headers
django-filter
attrs
typing_extensions
typing-inspection
annotated-types
easydict
lazy_loader
platformdirs
coloredlogs
prettytable
prompt_toolkit
click
click-plugins
click-didyoumean
click-repl
packaging
pyparsing
cycler
kiwisolver
Cython

# Math / symbolic
sympy
mpmath
networkx
joblib
threadpoolctl
tqdm

# Web / HTTP
requests
requests-toolbelt
requests-file
charset-normalizer
idna
urllib3
certifi

# Redis
redis

# Time & dates
python-dateutil
isodate
tzdata
pytz

# Optional / camera / RPC
dahua-rpc-api
